body {
  background: var(--tertiary-color);
}

.site-container > header {
  padding: calc(var(--vspace) * 2) var(--hspace);
  text-align: center;
}

.site-container > main {
  background: #fff;
  border: 1px solid var(--border-color);
  border-radius: var(--base-radius);
  padding: var(--vspace) var(--hspace);
}